include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include frappe_chatgpt *.css
recursive-include frappe_chatgpt *.csv
recursive-include frappe_chatgpt *.html
recursive-include frappe_chatgpt *.ico
recursive-include frappe_chatgpt *.js
recursive-include frappe_chatgpt *.json
recursive-include frappe_chatgpt *.md
recursive-include frappe_chatgpt *.png
recursive-include frappe_chatgpt *.py
recursive-include frappe_chatgpt *.svg
recursive-include frappe_chatgpt *.txt
recursive-exclude frappe_chatgpt *.pyc